<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("../partials/head.ejs"); %>
        <link rel="stylesheet" href="/assets/css/inbox.css">
    </head>

    <body>
        <%- include("../partials/navigation.ejs"); %>

        <div class="row-fluid">
            <div class="container-fluid px-0">
                <div class="content-wrapper">
                    <div id="inbox-sidebar">
                        <div id="inbox-sidebar">
                            <div class="inbox-sidebar">
                                <div class="sidebar-section">
                                    <a href="/mail/compose" class="btn btn-danger btn-block">New Email</a>

                                    <ul>
                                        <li class="title">Menu</li>
                                        <li>
                                            <a href="/mail/inbox"><i class="fa fa-inbox"></i> Inbox <% if (meta.unread > 0) { %> <span class="badge badge-danger"><%= meta.unread %></span> <% } %></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="inbox-content">
                        <div class="inbox-content">
                            <% if (inbox.length > 0) { %>
                                <ul>
                                    <% inbox.forEach((email) => { %>
                                        <li class="inbox-item <%= (email.unread) ? 'unread' : '' %>">
                                            <a href="/mail/message/<%= email.googleId %>">
                                                <div class="inbox-item-top-detail">
                                                    <span class="inbox-item-title"><%= email.from %></span>
                                                    <div>
                                                        <% if (email.attachments.length > 0) { %><i class="fa fa-paperclip" aria-hidden="true"></i><% } %>
                                                        <span class="inbox-item-timestamp"><%= email.date %></span>
                                                    </div>
                                                </div>
                                                <!-- DANGER (Here we are accepting character that Google says they escape!!!) -->
                                                <span class="inbox-item-description"><%- email.snippet %></span>
                                            </a>
                                        </li>
                                    <% }); %>
                                </ul>
                            <% } else { %>
                                <div style="height: 500px; display: flex; justify-content: center; align-items: center;">
                                    <h2>No Mail</h2>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>